@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
    height: 100%;
}

.scroller {
    overflow-y: scroll;
    scrollbar-color: var(--color-purple-700) var(--color-gray-800)
}

.scroller-slim {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color-purple-700) var(--color-gray-800)
}

.scroller-x-slim {
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--color-purple-700) var(--color-gray-800)
}

.button {
    @apply flex items-center h-16 justify-center border-2 border-purple-500 px-4 py-2 mt-4 md:px-8 md:py-4 font-bold rounded-full hover:cursor-pointer hover:bg-purple-500;
}

.button-delete {
    @apply flex items-center text-white h-12 justify-center border-2 border-red-500 px-4 py-2 mt-4 md:px-6 md:py-3 font-bold rounded-md hover:cursor-pointer hover:bg-red-500;
}

.button-update {
    @apply flex items-center text-white h-12 justify-center border-2 border-blue-500 px-4 py-2 mt-4 md:px-6 md:py-3 font-bold rounded-md hover:cursor-pointer hover:bg-blue-500;
}

.input {
    @apply mb-5 w-[96%] rounded bg-gray-700 p-3 font-mono md:w-[90%]
}

.input-delete {
    @apply mb-5 w-[96%] rounded bg-gray-700 p-3 font-mono md:w-[90%]
}

body {
    @apply w-screen overflow-hidden;
}
